.Homepage{
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    gap: 20px;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
}