@use './colors' as *;

.popup-container{
    opacity: 1;
    box-sizing: border-box;
    position: absolute;
    padding: 20px 20px 0px 20px;
    z-index: 999;
    top: 0px;
    bottom: auto;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 25%;
    transition: 200ms ease-in-out;
    background-color: rgba($primary-color,1);
    box-shadow: -2px 0px 20px 0px #000000;
    .close-button{
        position: absolute;
        top: 28px;
        right: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        height: 24px;
        width: 100%;
        
        i{
            transform: scale(2);
            color: white;
            &:hover{
                cursor: pointer;
            }
        }


    }
    .navigations{
        margin-top: 10vh;
        width: 100%;
        height: auto;
        display: flex;
        gap: 50px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .navigation{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100px;
            color: white;
            &:hover{
                background-color: rgba($main-background-color, 0.3);
                cursor: pointer;

            }
            & > *{
                color: white;
                text-decoration: none;
            }
        }

    }
}
.popup-container.hidden{
    margin-right: -25%;
    opacity: 0;
}
@media only screen and (max-width: 800px) {
    .popup-container{
        width: 50%;
    }
    
}
@media only screen and (max-width: 400px) {
    .popup-container{
        width: 100%;
    }
    
}